.pageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar{
    margin-bottom: 5%;
    width: 80%;
    display: flex;
    justify-content: center;
}

i{
    padding: 2px;
}

.searchInput{
    width: 80%;
    /*padding: 10px;*/
    border-radius: 5%;
}

.productList{
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0;
    -moz-column-count:    5;
    -moz-column-gap:      0;
    column-count:         5;
    column-gap:           0;
}
.productList img{
    /*width: 100%;*/
    /*height: auto;*/
    object-fit: contain;
    height: auto;
    max-height: 60vmin;
    width: 100%;
}

.product{
    margin: 20px;
    opacity: 1;
}

.product:hover{
    cursor: pointer;
    opacity: .9;
}

@media (max-width: 1200px) {
    .productList {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .productList {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .productList {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .productList {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

.noResults{
    text-align:center;
    width: available;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 6vmin;
}